@import "tailwindcss";

@theme {
  /* Przypisanie nowych krojów pisma */
  --font-serif: "Cormorant Garamond", georgia, serif;
  --font-sans: "Montserrat", ui-sans-serif, system-ui;
  
  /* Paleta kolorów z Twojej identyfikacji wizualnej */
  --color-kokowka-burgundy-dark: #71130c;  /* Molten Lava */
  --color-kokowka-burgundy: #a0172a;       /* Ruby Red */
  --color-kokowka-pink-pastel: #ffc6d3;    /* Pastel Pink */
  --color-kokowka-pink-light: #fdeef3;     /* Lavender Blush - główne jasne tło */
  --color-kokowka-parchment: #f5f1ec;      /* Parchment - ciepłe tło alternatywne */
}